
<div class="container-fluid">
    <h6>Author: {{ quote.author }}</h6>
    <h6>Published by: {{ quote.publisher }}</h6>
    <h6>Posted: {{ quote.uploadDate|daysPassedCount }} days ago</h6>
    <h6 id="like">Upvotes: {{ quote.upvote }} upvotes</h6>
    <h6 id="dislike">Downvotes: {{ quote.downvote }} downvotes</h6>
    <!-- <button (click)="deleteRead(true)" class="btn btn-danger">Delete</button> -->
</div>
<div class="icons">
    <button class="btn btn-success" (click)="upvote()">
        <i id="likes" class="fa fa-thumbs-up" id="likes"></i>
        {{ quote.upvote }}
    </button>
    <button class="btn btn-dark" (click)="downvote()">
        <i id="likes" class="fa fa-thumbs-down" id="dislikes"></i>
        {{ quote.downvote }}
    </button>
    <button class="btn btn-danger" (click)="deleteQuote(true)">
        <i id="likes" class="fa fa-trash" id="delete"></i>
    </button>
</div>



