
.container-fluid{
    background-image:url(../../assets/istockphoto-1270080185-170667a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
h1{
    text-align: center;
    color: rgb(42, 56, 185);
    font-weight: bolder;
    font-style: italic;
}
ul{
    display: block;
    list-style: none;
}

.card-body{
    background-color: whitesmoke;
    color: rgb(42, 56, 185);
    font-weight: bold;
    border-radius: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}