<div class="container-fluid">
    <h1>My Quotes</h1>
    <hr>
    <div class="quotes col-md-6">
        <ul>     
            <div class="card-body" *ngFor="let quote of quotes; let i=index">
                    <li >
                        {{quote.id}}.  "{{ quote.quote}}." 
                    </li>
    
                    <button (click)="showDetails(i)">Show Details</button>
                    <app-quote-details *ngIf="quote.showDetails" [quote]="quote" (isRead)="deleteQuote"></app-quote-details>                                  
            </div>       
        </ul>
    </div>
    
    <div class="popular-quote">
        <div class="card-body" *ngFor="let popular of populars; let i=index" appPopularQuoteHighlight>
            {{ popular.id}}. "{{ popular.quote }}."
            <h6>Upvotes: {{ popular.upvote }} upvotes</h6>
            <h6>Author: {{ popular.author }}</h6>
            <h6>Published by: {{ popular.publisher }}</h6>
        </div>
    </div>
    <div class="col-md-6">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>    
</div>



