<div class="container-fluid">
    <div class="card">
      <h3>Create Your Quotes Here</h3>
      <hr>
      <form (ngSubmit)="publishQuote()" #quoteForm='ngForm' novalidate>
        <div class="form-group " >
          <label for="quote">Quote</label>
          <textarea type="text" id="quote" name="quote" rows="2" placeholder="Write your quote here" #quote='ngModel'[(ngModel)]="newQuote.quote"required class="form-control"></textarea>
        </div>
        <div [hidden]="quote.valid || quote.pristine">
          <p *ngIf="!newQuote.quote" class="alert alert-danger">This field is required</p>
        </div>

        <div class="form-group p-3">
          <label for="author">Author</label>
          <input type="text" name="author" id="author" placeholder="Name of author" required #author='ngModel'[(ngModel)]="newQuote.author" class="form-control"/>
        </div> 
        <div [hidden]="author.valid || author.pristine">
        <p *ngIf="!newQuote.author" class="alert alert-danger">This is a required field</p>
        </div>
        <div class="form-group p-3">
          <label for="publisher">Publisher</label>
          <input type="text" name="publisher" id="publisher" placeholder="Enter your name" required #publisher='ngModel'[(ngModel)]="newQuote.publisher" class="form-control" />
        </div>
        <div [hidden]="publisher.valid || publisher.pristine">
        <p *ngIf="!newQuote.publisher" class="alert alert-danger">This is a required field</p>
        </div>
        <button class="btn btn-primary btn-sm m-3">Publish</button>
      </form>
    </div>
</div>
